
.prjIcon img {
    width: 32px; 
    display: inline-block !important;  
    background: none;  
    box-shadow: none; 
    position: relative; 
    bottom: -.5rem;  
    box-shadow: none !important; 
    border: none !important; 
    margin: 0 !important;
}

.prjImg {
    width: 128px; 
    display: inline-block !important;  
    background: none;  
    box-shadow: none; 
    position: relative; 
    bottom: -.5rem;  
    box-shadow: none !important; 
    border: none !important; 
    margin: 0 !important;
}
