{{ define "main"}}
  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-centered-tablet-portrait">
          <h1 class="title section-title">{{ .Title }}</h1>
          <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
          <div class="divider"></div>
        </div>
      </div>
      <p>Diese Seite wurde nicht gefunden.</p>
      <p><a href="{{ "/de/" | relURL }}">Zurück zur Startseite!</a></p>
      <p>we could not find that page.</p>
      <p><a href="{{ "/en/" | relURL }}">Back to the startpage!</a></p>
    </div>
  </section>
{{ end }}
