{{- $lang			:= .Site.Language.Lang }}
{{- $button := "Abbonnieren" -}}
<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Newsletter</h2>
      {{- if eq $lang "en" -}}
      <h3 class="subtitle is-5 is-muted">You want to stay informed about the OK Lab Karlsruhe activities? Sign up for our newsletter below:</h3>
      <p class="subtitle is-5 is-muted">Please note: We have to record your address for the newsletter. All related information is available in the <a href="impressum/#datenschutzerklaerung">data protection paragraph</a>. When you submit you agree to these terms. We will send a link to you to confirm the subscription.
       </p>
      {{- $button = "Sign up" -}}
      {{- else -}}
      <h3 class="subtitle is-5 is-muted">Du möchtest auf dem Laufenden bleiben über das OK Lab Karlsruhe? Dann trag Dich für unseren monatlichen Newsletter ein:</h3>
      <p class="subtitle is-5 is-muted">Achtung: Dafür müssen wir Deine Adresse speichern. Alle nötigen Informationen dazu findest Du in der <a href="impressum/#datenschutzerklaerung">Datenschutzerklärung</a>. Wenn Du Dich anmeldest, stimmst Du der Speicherung zu. Wir senden Dir dann einen Link, über den Du die Eintragung bestätigen kannst.
       </p>
      {{- end -}}
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column mt-10">
                <input class="input is-medium" type="email" placeholder="E-Mail">
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">{{- $button -}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
